/* PT-Sans Regular */
@font-face {
  font-family: 'PTSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../theme/fonts/PTSans-Regular-400.ttf') format('ttf');
}
/* PT-Sans ITALIC*/
@font-face {
  font-family: 'PTSans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../theme/fonts/PTSans-Regular-400-Italic.ttf') format('ttf');
}
/* PT-Sans BOLD */
@font-face {
  font-family: 'PTSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../theme/fonts/PTSans-Bold-700.ttf') format('ttf');
}
/* PT-Sans BOLD ITALIC */
@font-face {
  font-family: 'PTSans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../theme/fonts/PTSans-Bold-700-Italic.ttf') format('ttf');
}
/* montserrat-500 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('../theme/fonts/montserrat-v18-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.woff2') format('woff2');
}
/* montserrat-500italic - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('../theme/fonts/montserrat-v18-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500italic.woff2') format('woff2');
}
/* montserrat-600 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('../theme/fonts/montserrat-v18-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.woff2') format('woff2');
}
/* montserrat-700 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../theme/fonts/montserrat-v18-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2');
}
/* montserrat-900 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''),
       url('../theme/fonts/montserrat-v18-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-900.woff2') format('woff2');
}